{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %}All Visas{% endblock %} 

{% block site_css %}
	<link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">

{% endblock %}

{% block main_heading %}
Visas Overview 
{% endblock %}


{% block header_content %}
Be ready for home affairs!
{% endblock %}

{% block body %}
<section>
	<h1>Muahahahahha!<h1>
	<p>AMAZING</p>
	<ol>
		
		{% for v in visas %}
		{% include 'meetups/includes/visa-item.html' with title=v.title  image=v.image.url location="New york" slug=v.slug%}
	 	{% endfor %}

 	</ol>
 </section>
{% endblock %}

  